/* Chrome Extension CSS Style */
svg
{
    width: 1.3em;
    vertical-align: middle;
}

.container
{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    width: 300px;
    border-radius: 1rem;

}

.qr-code-container
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.qr-code
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.qr-code-canvas
{
    border-radius: 12px;
    overflow: hidden;
    width: 280px;
    height: 280px;
    display: block;
    margin: 0;
}


.hidden
{
    display: none !important;
}

.tools
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 95%;
    margin-left: 8px;
}

.tools>.input
{
    width: 210px;
}

.tools .button
{
    cursor: pointer;
    background-color: var(--background);
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 9px;
    padding-top: 8px;
    border-radius: 5px;
}

.placeholder
{
    height: 280px;
    width: 280px;
    border-radius: 12px;
    background-color: #f0f0f0;
}

.placeholderAnimation
{
    animation: pulse 1s infinite;
}

@keyframes pulse
{
    0%
    {
        background-color: #f0f0f0;
    }

    50%
    {
        background-color: #a3a3a3;
    }

    100%
    {
        background-color: #f0f0f0;
    }
}

.settings
{
    margin-top: 1rem;
    width: 95%;
    margin-left: 8px;
}

.setting
{
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 15px;
}

.setting h3
{
    margin-top: 0;
}

.setting h4
{
    margin-top: 0;
}

footer
{
    margin-top: 1rem;
    text-align: center;
    font-size: 12px;
    color: var(--text);
}

footer p
{
    margin: 0;
}

.footer
{
    margin-top: 1rem;
    text-align: center;
    font-size: 12px;
    color: var(--text);
}

.footer p
{
    margin: 0;
    text-align: center;
}

.footer a
{
    cursor: pointer;
}

#settings
{
    cursor: pointer;
}

.logo
{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-right: 5px;
}

.logo-container
{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.more-options {
    margin: 10px;
}

.more-options input
{
    width: 100%;
}

.more-options select
{
    width: 100%;
}

.more-options textarea
{
    width: 100%;
}