@import "tailwindcss";
@plugin "daisyui" {}

@plugin "daisyui/theme" {
  name: "light";
  prefersdark: false;
  color-scheme: "light";
  default: true;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: "dark";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
